
.login .errors {
    list-style: none;
    margin: 0;
    padding: 0;
}

.login .errors li {
    color: #F00;
}

input.has-error {
    background: #bb0000;
}

.container-fluid.main {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}

.container-fluid.main-body {
    background: none repeat scroll 0 0 #0000FF;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 50px;
}
.container-fluid.main-body > div {
    height: 100%;
}
[role='col-middle'] .channels {
    height: 100%;
}
[role='col-middle'] iframe {
    border: 0 none;
    bottom: 0;
    display: block;
    float: left;
    height: 100%;
    top: 0;
    width: 100%;
}
[role='col-left'] {
    background: #4d394b;
    color: #a1919f; 
    height: 100%;
}
[role='col-middle'] {
    height: 100%;
    background: #123;
}
[role='col-right'] {
    height: 100%;
    background: #fff;
}

[role='col-left'] > .title {
    border-bottom: 1px solid #3d2f3c;
    border-top: 1px solid #372c36;
    color: #DDD;
    background: #3e303c;
    padding: 15px 10px;
    font-size: 16px; 
}

[role='col-left'] > .content {
    
}

[role='col-left'] > .footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

[role='col-left'] .channel-list {
    max-height: 100px;
    overflow: hidden;
}
[role='col-left'] .channel-list:hover {
    overflow-y: scroll;
}
[role='col-left'] .channel-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
[role='col-left'] .channel-list ul li {
    cursor: pointer;
    padding-left: 15px;
    margin-top: 5px;
}
[role='col-left'] .channel-list ul li:hover ,
[role='col-left'] .channel-list ul li.active {
    background : #4f9689;
    color : #3e303c;
    border-radius : 0px 5px 5px 0px;
    width : 225px;
}
.backdrop-transparent .modal-backdrop {
    opacity: 0!important;
}
